<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ player_name }} - Player Stats</title>

</head>
<body>
    <h1>{{ player_name }} Stats</h1>

    <!-- Player Stats Table -->
    <table border="1">
        <thead>
            <tr>
                <th>Season</th>
                <th>Team</th>
                <th>Games</th>
                <th>Games Started</th>
                <th>Minutes Per Game</th>
                <th>Field Goals Made</th>
                <th>Field Goals Attempted</th>
                <th>Field Goal Percentage</th>
                <th>3-Pointers Made</th>
                <th>3-Pointers Attempted</th>
                <th>3-Point Percentage</th>
                <th>2-Pointers Made</th>
                <th>2-Pointers Attempted</th>
                <th>2-Point Percentage</th>
                <th>Effective Field Goal Percentage</th>
                <th>Free Throws Made</th>
                <th>Free Throws Attempted</th>
                <th>Free Throw Percentage</th>
                <th>Offensive Rebounds</th>
                <th>Defensive Rebounds</th>
                <th>Total Rebounds</th>
                <th>Assists</th>
                <th>Steals</th>
                <th>Blocks</th>
                <th>Turnovers</th>
                <th>Personal Fouls</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            {% for stats_row in player_stats_data %}
                <tr>
                    <td><a href="{{ url_for('season_accolades', season_id=stats_row[1]) }}">{{ stats_row[1] }}</a></td>
                    <td>
                        <a href="{{ url_for('team_info', team_id=stats_row[0]) }}">{{ stats_row[-1] }}</a>
                    </td>
                    <td>{{ stats_row[3] }}</td>
                    <td>{{ stats_row[4] }}</td>
                    <td>{{ stats_row[5] }}</td>
                    <td>{{ stats_row[6] }}</td>
                    <td>{{ stats_row[7] }}</td>
                    <td>{{ stats_row[8] }}</td>
                    <td>{{ stats_row[9] }}</td>
                    <td>{{ stats_row[10] }}</td>
                    <td>{{ stats_row[11] }}</td>
                    <td>{{ stats_row[12] }}</td>
                    <td>{{ stats_row[13] }}</td>
                    <td>{{ stats_row[14] }}</td>
                    <td>{{ stats_row[15] }}</td>
                    <td>{{ stats_row[16] }}</td>
                    <td>{{ stats_row[17] }}</td>
                    <td>{{ stats_row[18] }}</td>
                    <td>{{ stats_row[19] }}</td>
                    <td>{{ stats_row[20] }}</td>
                    <td>{{ stats_row[21] }}</td>
                    <td>{{ stats_row[22] }}</td>
                    <td>{{ stats_row[23] }}</td>
                    <td>{{ stats_row[24] }}</td>
                    <td>{{ stats_row[25] }}</td>
                    <td>{{ stats_row[26] }}</td>
                    <td>{{ stats_row[27] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
